absl-py==2.1.0
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
cmake==3.31.4
dlib==19.24.6
flatbuffers==25.2.10
gast==0.6.0
gdown==5.2.0
google-pasta==0.2.0
grpcio==1.70.0
jax==0.5.0
jaxlib==0.5.0
jsonpointer==2.1
keras==3.8.0
libclang==18.1.1
lxml==5.2.1
lz4==4.4.3
matplotlib==3.9.2
mediapipe==0.10.21
mkl-service==2.4.0
ml-dtypes==0.4.1
mtcnn==1.0.0
namex==0.0.8
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opt_einsum==3.4.0
optree==0.14.0
protobuf==4.25.3
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pywin32==305.1; sys_platform == "win32"
retina-face==0.0.17
sentencepiece==0.2.0
sounddevice==0.5.1
sympy==1.13.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
termcolor==2.5.0
tf_keras==2.18.0
torch==2.6.0
torchvision==0.21.0
wheel==0.44.0
xgboost==2.1.4
streamlit==1.41.1
